body {
	margin-top: 30px;
}

select {
	height: 159px
}

select option {
	margin-bottom: 5px;
}

select option:checked {
	border: 2px dotted lightgray;
}

#guesses-left {
	margin-top: 8px;
}

.peg {
	height: 30px;
	width: 30px;
	display: inline-block;
	border-radius: 100%
}

.red {
	background-color: #e74c3c;
}

.blue {
	background-color: #3498db;
}

.green {
	background-color: #2ecc71;
}

.yellow {
	background-color: #FFEB3B;
}

.orange {
	background-color: #f39c12;
}

.purple {
	background-color: #9b59b6;
}

.black {
	background-color: #333;
}

.white {
	background-color: white;
	border: 2px solid lightgray;
}

.invis {
	border: 2px dotted lightgray;
}